HelpDeskBot.json
{
  "name": "HelpDeskBot — Producción v3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "c582d47b-201d-4dde-8e46-da83007820f1",
      "name": "HelpDeskBot Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1920,
        608
      ],
      "webhookId": "helpdesk-bot-webhook-v3",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14438d8c-fb63-5b75-a1b9-45133d8be6d3",
              "name": "telegram_user",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "200353b6-43de-5a2e-ad65-a466566876b4",
              "name": "nombre",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "70a86a8a-63e0-5a0e-a6d5-82d7faa29608",
              "name": "mensaje",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "873ffe4a-2785-523e-a3ec-45f7fd76951e",
              "name": "timestamp",
              "value": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5ef8323f-ecf3-4e77-86f6-bcc3a1860231",
      "name": "Formateo de campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        608
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $json.telegram_user }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:Z5000"
            }
          }
        }
      },
      "id": "caa1c442-6628-4870-8167-4ee54400f4cb",
      "name": "Buscar usuario en DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        -1440,
        608
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "8d229d99-bda8-5c48-8cc9-c79fc4f1051c",
              "leftValue": "={{ $json.telegram_user ? $json.telegram_user.toString() : '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6676051f-25e7-4c9a-b433-3d1d87f0db37",
      "name": "¿Usuario existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1200,
        608
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Formateo de campos').first().json.telegram_user }}",
            "nombre": "={{ $('Formateo de campos').first().json.nombre }}",
            "rol": "Empleado",
            "activo": "TRUE",
            "sesion": "MENU_PRINCIPAL",
            "sesion_data": "{}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e7016614-0c20-46d8-aec2-64cbdf5f5da2",
      "name": "Registrar usuario nuevo",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        -960,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "🤖 *¡Bienvenido a HelpDeskBot\\!* 👋\n\nHe creado tu cuenta automáticamente\\.\n\nEstoy aquí para ayudarte con tus solicitudes de soporte\\.\n\n*Escribe el número de la opción:*\n\n0\\. Ayuda ⛑️\n1\\. Crear solicitud 📩\n2\\. Consultar estado ✅\n3\\. Mis solicitudes 🧐\n4\\. Reportes 📝\n5\\. Configuración ⚙️",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "beb3ba36-1a26-42f3-a859-e84802b9d74f",
      "name": "MSJ bienvenida nuevo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -736,
        800
      ],
      "webhookId": "aa407b8a-4591-4484-8aa6-df32d50c58c6",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a046750f-2d5a-56e2-87c0-7a4607dd31a4",
              "leftValue": "={{ $json.activo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3fabeb87-b955-4a54-9690-34ebb83f1c8c",
      "name": "¿Usuario activo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "🚫 *Acceso restringido*\n\nTu cuenta no está activa en el sistema\\.\nPor favor contacta al administrador para activarla\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "dd1c1478-457c-454c-abae-ae3caf11db90",
      "name": "MSJ usuario bloqueado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        400
      ],
      "webhookId": "e8063af7-2821-4a9b-928d-03dd0e82f744",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ══════════════════════════════════════════════════\n// GESTOR DE SESIÓN — Lee sesión desde hoja USUARIOS\n// Devuelve: { pantalla, sesionData, username, nombre, inputText }\n// ══════════════════════════════════════════════════\nconst usuario = $input.first().json;\nconst trigger = $('HelpDeskBot Trigger').first().json;\nconst inputText = (trigger.message?.text || '').trim();\nconst username  = String(trigger.message?.chat?.id || '');\nconst nombre    = trigger.message?.from?.first_name || 'Usuario';\n\n// Sesión actual guardada en la columna `sesion`\nconst sesionActual = (usuario.sesion || '').trim();\nconst sesionDataStr = usuario.sesion_data || '{}';\n\nlet sesionData = {};\ntry { sesionData = JSON.parse(sesionDataStr); } catch(e) {}\n\n// /start o sin sesión → menú principal\nif (!sesionActual || inputText === '/start') {\n  return [{ json: {\n    pantalla: 'MENU_PRINCIPAL',\n    sesionData: {},\n    username, nombre, inputText\n  }}];\n}\n\nreturn [{ json: {\n  pantalla: sesionActual,\n  sesionData,\n  username, nombre, inputText\n}}];\n"
      },
      "id": "d4d3f8bd-4a48-4770-aeb4-a135d586242f",
      "name": "Gestor de sesión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════\n// ROUTER PRINCIPAL\n// Convierte pantalla+input en la siguiente acción\n// ══════════════════════════════════════════════════\nconst { pantalla, sesionData, username, nombre, inputText } = $input.first().json;\n\n// Desde MENU_PRINCIPAL: enrutar por número\nif (pantalla === 'MENU_PRINCIPAL') {\n  const opciones = {\n    '0': 'MENU_PRINCIPAL',\n    '1': 'CREAR_SOLICITUD',\n    '2': 'ESTADO_SOLICITUD',\n    '3': 'MIS_SOLICITUDES',\n    '4': 'REPORTES',\n    '5': 'CONFIGURACION',\n    '6': 'AYUDA'\n  };\n  const destino = opciones[inputText] || 'MENU_PRINCIPAL';\n  return [{ json: { currentScreen: destino, sesionData, username, nombre, inputText } }];\n}\n\n// Desde CONFIGURACION: enrutar opciones del panel\nif (pantalla === 'CONFIGURACION') {\n  const opciones = {\n    '1': 'ESPERANDO_TELEFONO',\n    '2': 'VER_DATOS',\n    '9': 'MENU_PRINCIPAL'\n  };\n  const destino = opciones[inputText];\n  if (destino) {\n    return [{ json: { currentScreen: destino, sesionData, username, nombre, inputText } }];\n  }\n  // Opción inválida en configuracion → mostrar panel de nuevo\n  return [{ json: { currentScreen: 'CONFIGURACION', sesionData, username, nombre, inputText } }];\n}\n\n// En wizard o submenú: pasar tal cual para que el switch lo maneje\nreturn [{ json: { currentScreen: pantalla, sesionData, username, nombre, inputText } }];\n"
      },
      "id": "757b8f45-ce94-40f8-be9f-c7458105f5be",
      "name": "Router principal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "216e1ce4-57e7-5eb7-a556-3fc4745c73dc",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "MENU_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c73e9c34-520d-5c27-9d83-749d1e9e166e",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "AYUDA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "584e0e9a-e66b-5b12-9af3-14f0ac46997f",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "CREAR_SOLICITUD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "03aba678-1006-5324-a80b-b5f65a500ca4",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "ESTADO_SOLICITUD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "59ecd25c-c749-5802-a96c-71cf04b13c64",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "MIS_SOLICITUDES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e9e57c59-2897-520d-8eac-ff85c75b61e7",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "REPORTES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f3f4bd25-8819-50aa-a5a3-f5c5b1778437",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "CONFIGURACION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9fe4b717-34a2-5983-9b77-67ab5dd7ca4c",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "ESPERANDO_TELEFONO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d73bb1f3-4b9b-5e16-80c1-a413f47c19fe",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "VER_DATOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f8087885-640b-5726-954f-e1be86e4f30e",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "RECIBIR_TIPO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c842d1e2-e7f5-5ae8-9ef0-38ed8aa63d27",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "RECIBIR_PRIORIDAD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bf9fe404-74f9-59c0-81b8-05faec6e8557",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "RECIBIR_DESCRIPCION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "178aeed4-e957-5823-b01b-b7b1c94ef67b",
                    "leftValue": "={{ $json.currentScreen }}",
                    "rightValue": "RECIBIR_CONFIRMACION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "268850cb-6330-4ab8-8075-0700461c75dc",
      "name": "Switch pantalla",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -304,
        640
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "MENU_PRINCIPAL",
            "sesion_data": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "43b02155-a718-4cab-b54a-c7a332fd24d7",
      "name": "Guardar sesión MENU",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "=🤖 *HelpDeskBot* — Menú Principal\n\n*Escribe el número de la opción:*\n\n1\\. Crear solicitud 📩\n2\\. Consultar estado ✅\n3\\. Mis solicitudes 🧐\n4\\. Reportes 📝\n5\\. Configuración ⚙️\n6\\. Ayuda ⛑️\n\n_Escribe *0* en cualquier momento para volver aquí\\._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "0078fcf3-654b-4103-952b-5157a97fb380",
      "name": "MSJ menú principal",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "webhookId": "b0148612-9097-4614-955f-8b3793dafbed",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 613493080,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=613493080"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "pantalla": "MENU_PRINCIPAL",
            "opcion": "={{ $('Formateo de campos').first().json.mensaje }}",
            "resultado": "Menú principal mostrado."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c0e005c9-3749-4834-8f6d-c160e2c36dd4",
      "name": "Log menú principal",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "MENU_PRINCIPAL",
            "sesion_data": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f2608624-306e-44af-b422-a53bc769ae26",
      "name": "Guardar sesión AYUDA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "🆘 *Guía rápida de HelpDeskBot*\n\nEste asistente te ayuda a registrar y gestionar solicitudes de soporte\\.\n\n──────────────────────\n⚡ *Cómo funciona:*\n\n1️⃣ Escribe el número de la opción del menú\n2️⃣ Sigue las preguntas paso a paso\n3️⃣ Confirma antes de guardar\n\n──────────────────────\n📋 *Opciones:*\n0\\. Ayuda ⛑️\n1\\. Crear solicitud 📩\n2\\. Consultar estado ✅\n3\\. Mis solicitudes 🧐\n4\\. Reportes 📝\n5\\. Configuración ⚙️\n\nEscribe *0* en cualquier momento para volver al menú\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b79a89c4-e568-4c88-888c-a9c101f7d211",
      "name": "MSJ ayuda",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        208
      ],
      "webhookId": "9f80d62a-8756-4804-b573-7a1754e8ce5e",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 613493080,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=613493080"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "pantalla": "AYUDA",
            "opcion": "={{ $('Formateo de campos').first().json.mensaje }}",
            "resultado": "Guía mostrada."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "73a8c3d6-8016-4141-a338-9f5c0d9bdbcd",
      "name": "Log ayuda",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        480,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "RECIBIR_TIPO",
            "sesion_data": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4013a14d-bf1b-4e27-8d1b-5cfe95eef8b0",
      "name": "Guardar sesión TIPO",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        0,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "📨 *Crear nueva solicitud — Paso 1/4*\n\nSelecciona el *tipo de solicitud:*\n\n1\\. Soporte técnico ⚙️\n2\\. Solicitud administrativa 📊\n3\\. Consulta general 🤔\n9\\. Cancelar 🚫",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "946a2aff-cdc3-4102-b70e-848f0d34b85e",
      "name": "MSJ pedir tipo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "webhookId": "bf6291d0-1ad7-499a-84ef-53b299116ff9",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 613493080,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=613493080"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "pantalla": "CREAR_SOLICITUD",
            "opcion": "={{ $('Formateo de campos').first().json.mensaje }}",
            "resultado": "Inicio de wizard"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b16f1b1a-5320-46c6-a2f5-8ae2b165d608",
      "name": "Log crear solicitud",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        480,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst { sesionData, username, nombre, inputText } = $input.first().json;\nconst tipoMap = {'1':'Soporte técnico','2':'Solicitud administrativa','3':'Consulta general'};\nif (inputText === '9') {\n  return [{ json: { accion: 'CANCELAR', sesionData, username, nombre, inputText } }];\n}\nif (!tipoMap[inputText]) {\n  return [{ json: { accion: 'TIPO_INVALIDO', sesionData, username, nombre, inputText } }];\n}\nconst nuevaData = { ...sesionData, tipo: tipoMap[inputText] };\nreturn [{ json: { accion: 'TIPO_OK', sesionData: nuevaData, username, nombre, inputText } }];\n"
      },
      "id": "69ab0786-6f44-408d-b168-79ff380b83ff",
      "name": "Procesar tipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c57019ab-cd77-52bc-860b-34298dcf78c6",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "TIPO_OK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cd4c8cb0-c76b-59db-9f90-6beac0f4563c",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "TIPO_INVALIDO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b49999af-54c8-572c-bf3e-f035e928a5e4",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "CANCELAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "13aba770-3dd4-4381-801b-c143dc35e331",
      "name": "Switch tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        240,
        608
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "RECIBIR_PRIORIDAD",
            "sesion_data": "={{ JSON.stringify($input.first().json.sesionData) }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "939c18ff-76cc-46a9-9dff-7bdca56e9f66",
      "name": "Guardar sesión PRIORIDAD",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        480,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "=📨 *Crear solicitud — Paso 2/4*\n\n✅ Tipo: *={{ JSON.parse($('Guardar sesión PRIORIDAD').first().json.sesion_data || '{}').tipo || 'No definido' }}*\n\nSelecciona la *prioridad:*\n\n1\\. Alta 🔴 — _Urgente, atención inmediata_\n2\\. Media 🟡 — _Puede esperar un poco_\n3\\. Baja 🟢 — _Sin urgencia_\n9\\. Cancelar 🚫",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "9d0f6921-d25f-4a83-9a19-f5d3f34cb892",
      "name": "MSJ pedir prioridad",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        608
      ],
      "webhookId": "87041c62-b368-47c4-bb41-1ac9f3a9240c",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "⚠️ *Opción no válida*\n\nPor favor selecciona:\n1\\. Soporte técnico\n2\\. Solicitud administrativa\n3\\. Consulta general\n9\\. Cancelar",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "99ddbf50-f09a-4fb2-aa1b-2c573098d7fa",
      "name": "MSJ tipo inválido",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        800
      ],
      "webhookId": "01ec3d10-64fe-4116-b72d-bbfdc9365559",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "❌ *Solicitud cancelada*\n\nVolviendo al menú principal\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "99d5df8a-a198-42ae-8a7a-d6048ae032da",
      "name": "MSJ cancelado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        1008
      ],
      "webhookId": "b331fad5-e70e-46ec-bc94-6ad241837703",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst { sesionData, username, nombre, inputText } = $input.first().json;\nconst prioMap = {'1':'Alta','2':'Media','3':'Baja'};\nif (inputText === '9') {\n  return [{ json: { accion: 'CANCELAR', sesionData, username, nombre, inputText } }];\n}\nif (!prioMap[inputText]) {\n  return [{ json: { accion: 'PRIO_INVALIDA', sesionData, username, nombre, inputText } }];\n}\nconst nuevaData = { ...sesionData, prioridad: prioMap[inputText] };\nreturn [{ json: { accion: 'PRIO_OK', sesionData: nuevaData, username, nombre, inputText } }];\n"
      },
      "id": "291100d5-cd93-404c-b0e0-291815ce6e00",
      "name": "Procesar prioridad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2745fbdd-4335-5170-8ed0-d11ad54a9e0d",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "PRIO_OK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4948f0a-1a37-5a94-9c65-d24058a6eefb",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "PRIO_INVALIDA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "104609c0-3735-583b-a1c1-65ccdc1817f6",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "CANCELAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2dcd11e4-5f13-445f-90e3-e1face160825",
      "name": "Switch prioridad",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        240,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "RECIBIR_DESCRIPCION",
            "sesion_data": "={{ JSON.stringify($('Procesar prioridad').first().json.sesionData) }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "840a97ca-93b3-4e33-b530-ffbb9a08b279",
      "name": "Guardar sesión DESCRIPCION",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        480,
        1200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "=📨 *Crear solicitud — Paso 3/4*\n\n✅ Tipo: *={{ JSON.parse($('Guardar sesión DESCRIPCION').first().json.sesion_data || '{}').tipo || 'No definido' }}*\n✅ Prioridad: *={{ JSON.parse($('Guardar sesión DESCRIPCION').first().json.sesion_data || '{}').prioridad || 'No definido' }}*\n\n✏️ Escribe la *descripción* de tu solicitud\\:\n\n_Explica qué ocurrió, cuándo empezó y qué sistema está involucrado\\._\n\nMínimo 10 caracteres\\. Escribe *9* para cancelar\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "fec7bac2-7a6b-48c3-887b-fe57bdb4fab1",
      "name": "MSJ pedir descripcion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        1200
      ],
      "webhookId": "fb578142-4eaa-4919-bbf8-0c71d1302b6f",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "⚠️ *Opción no válida*\n\nPor favor selecciona:\n1\\. Alta 🔴\n2\\. Media 🟡\n3\\. Baja 🟢\n9\\. Cancelar 🚫",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "4f6bd3be-5e57-429a-a1fd-f9417df439e8",
      "name": "MSJ prioridad inválida",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        1408
      ],
      "webhookId": "aab532e7-ca99-4af3-8f75-0f6fce9c33b2",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst { sesionData, username, nombre, inputText } = $input.first().json;\nif (inputText === '9' || inputText.toLowerCase() === 'cancelar') {\n  return [{ json: { accion: 'CANCELAR', sesionData, username, nombre, inputText } }];\n}\nif (inputText.length < 10) {\n  return [{ json: { accion: 'DESC_CORTA', sesionData, username, nombre, inputText } }];\n}\nconst ticketId = 'TIC-' + Math.floor(Date.now()/1000);\nconst fecha = new Date().toLocaleString('es-CO',{timeZone:'America/Bogota'});\nconst nuevaData = { ...sesionData, descripcion: inputText, ticketId, fecha };\nreturn [{ json: { accion: 'DESC_OK', sesionData: nuevaData, username, nombre, inputText } }];\n"
      },
      "id": "edb3ad66-abc0-4bd6-aabd-f4e36847b37d",
      "name": "Procesar descripcion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1808
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d1a1e75-cee1-5065-bb94-26aa8b0a1664",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "DESC_OK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db16cf25-4e4a-586d-8eda-37c30840fa51",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "DESC_CORTA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60421b4b-f814-54b5-84c9-8ec3dd186551",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "CANCELAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b12ac67f-ffc6-41c5-9213-b628758ff884",
      "name": "Switch descripcion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        240,
        1808
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "RECIBIR_CONFIRMACION",
            "sesion_data": "={{ JSON.stringify($input.first().json.sesionData) }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8e2985aa-2870-4ee4-8a7f-4726dbc9f767",
      "name": "Guardar sesión CONFIRMACION",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        480,
        1808
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "=📨 *Crear solicitud — Paso 4/4*\n\n*Resumen de tu solicitud:*\n\n📂 Tipo: *={{ JSON.parse($('Guardar sesión CONFIRMACION').first().json.sesion_data || '{}').tipo || 'No definido' }}*\n⚡ Prioridad: *={{ JSON.parse($('Guardar sesión CONFIRMACION').first().json.sesion_data || '{}').prioridad || 'No definido' }}*\n📝 Descripción:\n_={{ JSON.parse($('Guardar sesión CONFIRMACION').first().json.sesion_data || '{}').descripcion || 'No definido' }}_\n\n¿Confirmas el envío?\n\n1\\. ✅ Sí, enviar solicitud\n2\\. ❌ Cancelar",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "71e4009e-932d-46c5-ad4c-0304a2422329",
      "name": "MSJ pedir confirmacion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        1808
      ],
      "webhookId": "70728608-ae52-47a8-88a6-ce95ec1144d4",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "⚠️ *Descripción muy corta*\n\nNecesitamos al menos *10 caracteres* para procesar tu solicitud\\.\nPor favor escribe una descripción más detallada\\.\n\nEscribe *9* para cancelar\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "0a518542-75ce-446a-ad84-81972cf42814",
      "name": "MSJ descripcion corta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        2000
      ],
      "webhookId": "8bf8a19e-0bc9-4c1d-b053-c2a97aff052e",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst { sesionData, username, nombre, inputText } = $input.first().json;\nif (inputText === '1') {\n  return [{ json: { accion: 'CONFIRMAR_OK', sesionData, username, nombre, inputText } }];\n}\nreturn [{ json: { accion: 'CANCELAR', sesionData, username, nombre, inputText } }];\n"
      },
      "id": "fe0b8005-7e13-48a2-a26a-51f1e74873b8",
      "name": "Procesar confirmacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        2400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9b7d2138-1afd-58f8-81ca-deb61b8aeec8",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "CONFIRMAR_OK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "66886b2f-9086-5b74-b04e-6ab99245d9df",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "CANCELAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "9b10cd10-1516-4bd7-b747-ffe975a3d3ad",
      "name": "Switch confirmacion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        240,
        2400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $json.sesionData.ticketId }}",
            "tipo": "={{ $json.sesionData.tipo }}",
            "prioridad": "={{ $json.sesionData.prioridad }}",
            "descripcion": "={{ $json.sesionData.descripcion }}",
            "estado": "Abierto",
            "creado_por": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "fecha_creacion": "={{ $json.sesionData.fecha }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "73c3c0e0-49d9-416c-9790-ae0827941a26",
      "name": "Guardar ticket",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        480,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "MENU_PRINCIPAL",
            "sesion_data": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b7f05802-a393-46b7-bc3d-b22b3ad4f4c0",
      "name": "Limpiar sesión post-ticket",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        720,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 613493080,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=613493080"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "pantalla": "CREAR_SOLICITUD",
            "opcion": "CONFIRMADO",
            "resultado": "={{ 'Ticket creado: ' + $json.sesionData.ticketId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f65f0fec-805d-47ec-bdf7-27f545e93c86",
      "name": "Log ticket creado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        960,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "==✅ *¡Solicitud registrada con éxito\\!*\n\n🎫 *Ticket ID:* `={{ $('Procesar confirmacion').first().json.sesionData.ticketId }}`\n📂 *Tipo:* {{ $('Procesar confirmacion').first().json.sesionData.tipo }}\n⚡ *Prioridad:* {{ $('Procesar confirmacion').first().json.sesionData.prioridad }}\n\nTu solicitud fue recibida y pronto será atendida\\.\n\nEscribe *0* para volver al menú principal\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "1eaf9fef-a6ca-41fc-b43d-d64c46ce79e8",
      "name": "MSJ ticket creado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        2400
      ],
      "webhookId": "6ea801e9-f44e-4f1e-bedd-21b1b246d364",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "MENU_PRINCIPAL",
            "sesion_data": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3a25ec72-5e7b-4aff-bfed-eb4f14120eb5",
      "name": "Guardar sesión ESTADO",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        0,
        2800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=creado_por",
              "lookupValue": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:Z5000"
            }
          }
        }
      },
      "id": "72157e6f-74b3-4082-84db-92de8e1f7fbc",
      "name": "Solicitudes por usuario",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        240,
        2800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst solicitudes = $input.all().map(i => i.json).filter(s => s.id_ticket);\nconst activas = solicitudes.filter(s => {\n  const e = (s.estado||'').toLowerCase();\n  return e === 'abierto' || e === 'abierta' || e === 'en proceso';\n}).reverse().slice(0,5);\nif (activas.length === 0) {\n  return [{ json: { lista_tickets: '✅ No tienes solicitudes pendientes en este momento.' } }];\n}\nlet msg = '';\nactivas.forEach(t => {\n  const emoji = (t.estado||'').toLowerCase()==='en proceso' ? '🟡' : '🟢';\n  msg += emoji + ' *ID:* `' + t.id_ticket + '`\\n';\n  msg += 'Estado: _' + t.estado + '_\\n\\n';\n});\nreturn [{ json: { lista_tickets: msg } }];\n"
      },
      "id": "e26d3fc1-a82a-495e-864f-aeb122ffb218",
      "name": "Procesar estado solicitudes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        2800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "=🔍 *Estado de tus Solicitudes*\n\n{{ $json.lista_tickets }}\n\nEscribe *0* para volver al menú principal\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "ba827a10-fbe4-4591-a028-7c7945a7c86d",
      "name": "MSJ estado solicitudes",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        2800
      ],
      "webhookId": "5c96ddaf-68b2-4e1c-a271-a5f956bc85a8",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 613493080,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=613493080"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "pantalla": "ESTADO_SOLICITUD",
            "opcion": "={{ $('Formateo de campos').first().json.mensaje }}",
            "resultado": "Lista de estado mostrada."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "08086e4d-8c3f-433b-bf63-49ba98aa02c6",
      "name": "Log estado solicitud",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        960,
        2800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "MENU_PRINCIPAL",
            "sesion_data": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8be561a1-e7c9-463b-bbef-ffb15ecad1be",
      "name": "Guardar sesión MIS_SOLICS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        0,
        3200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=creado_por",
              "lookupValue": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:Z5000"
            }
          }
        }
      },
      "id": "d6b796d0-baeb-4afe-b1a3-05047ac7bbf5",
      "name": "Mis tickets DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        240,
        3200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst tickets = $input.all().map(i => i.json).filter(t => t.id_ticket);\nconst activos = tickets.filter(t => {\n  const e = (t.estado||'').toLowerCase();\n  return e !== 'cerrado' && e !== 'cerrada';\n}).reverse().slice(0,5);\nif (activos.length === 0) {\n  return [{ json: { mensaje_lista: '📭 No tienes solicitudes activas.\\n\\nCrea una desde el menú principal.', tiene_tickets: false } }];\n}\nconst lista = activos.map((t,i) => (i+1)+'. `'+t.id_ticket+'` — _'+t.tipo+'_ — '+t.estado).join('\\n');\nreturn [{ json: { mensaje_lista: lista, tiene_tickets: true } }];\n"
      },
      "id": "40d06174-d561-44d7-8c82-d61a29720ca7",
      "name": "Procesar mis solicitudes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        3200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "=📋 *Tus Solicitudes Activas*\n\n{{ $json.mensaje_lista }}\n\n🔢 Escribe el número \\(1\\-5\\) para ver el detalle, o *0* para el menú\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "ea3ad5fd-ea90-462c-9a2c-d82092bd86dd",
      "name": "MSJ mis solicitudes",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        3200
      ],
      "webhookId": "cea6a785-2721-4cc3-a7ac-c51718e8b7e5",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 613493080,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=613493080"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "pantalla": "MIS_SOLICITUDES",
            "opcion": "={{ $('Formateo de campos').first().json.mensaje }}",
            "resultado": "Lista mostrada."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ec15efa3-1d44-461e-96a0-1917e24fc6ab",
      "name": "Log mis solicitudes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        960,
        3200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=creado_por",
              "lookupValue": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:Z5000"
            }
          }
        }
      },
      "id": "e5507bcc-c842-4538-b823-aa231132a439",
      "name": "Mis tickets para detalle",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        240,
        3408
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst op = parseInt($('HelpDeskBot Trigger').first().json.message.text);\nconst tickets = $input.all().map(i => i.json).filter(t => t.id_ticket)\n  .filter(t => {\n    const e = (t.estado||'').toLowerCase();\n    return e !== 'cerrado' && e !== 'cerrada';\n  }).reverse().slice(0,5);\nconst sel = tickets[op-1];\nif (!sel) {\n  return [{ json: { error: true, id:'', tipo:'', prioridad:'', estado:'', descripcion:'',\n    mensaje_error: '⚠️ Opción no válida. Escribe un número del 1 al ' + tickets.length + '.' } }];\n}\nreturn [{ json: { error: false, id: sel.id_ticket, tipo: sel.tipo,\n  prioridad: sel.prioridad, estado: sel.estado, descripcion: sel.descripcion } }];\n"
      },
      "id": "04a427e7-a969-4dc9-a1e8-0e7d58eec24e",
      "name": "Procesar detalle ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        3408
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "=🎫 *Detalle de Solicitud*\n\n🆔 *Ticket:* `{{ $json.id }}`\n📂 *Tipo:* {{ $json.tipo }}\n⚡ *Prioridad:* {{ $json.prioridad }}\n📊 *Estado:* {{ $json.estado }}\n\n📝 *Descripción:*\n_{{ $json.descripcion }}_\n\nEscribe otro número para ver otro ticket, o *0* para el menú\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "37f225fa-2f4e-45f8-b41d-78c4266b36f1",
      "name": "MSJ detalle ticket",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        3408
      ],
      "webhookId": "cdcd5fdd-188d-4ec3-87e2-67e1363850c1",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "MENU_PRINCIPAL",
            "sesion_data": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "aeb6a6f6-92cc-499a-88eb-887c362dbe32",
      "name": "Guardar sesión REPORTES",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        0,
        3808
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=creado_por",
              "lookupValue": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:Z5000"
            }
          }
        }
      },
      "id": "f522a180-9c89-4b96-b0ad-810a47d10168",
      "name": "Todos mis tickets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        240,
        3808
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst s = $input.all().map(i => i.json).filter(t => t.id_ticket);\nlet abiertas=0, proceso=0, cerradas=0;\ns.forEach(t => {\n  const e = (t.estado||'').toLowerCase();\n  if (e==='abierto'||e==='abierta') abiertas++;\n  else if (e==='en proceso') proceso++;\n  else if (e==='cerrado'||e==='cerrada') cerradas++;\n});\nconst total = s.length;\nif (total===0) {\n  return [{ json: { reporte: '📊 *Reporte de solicitudes*\\n\\nNo hay solicitudes registradas aún.' } }];\n}\nreturn [{ json: { reporte:\n  '📊 *Reporte de solicitudes*\\n\\n' +\n  '🟢 Abiertas: ' + abiertas + '\\n' +\n  '🟡 En proceso: ' + proceso + '\\n' +\n  '🔵 Cerradas: ' + cerradas + '\\n' +\n  '─────────────\\n' +\n  '📈 Total: ' + total\n}}];\n"
      },
      "id": "02cbaa86-9e12-4835-9def-af4de249f874",
      "name": "Calcular reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        3808
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.reporte }}\n\n_Escribe *0* para volver al menú principal\\._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "48448ffd-d1a4-4872-83a6-2e97b5498547",
      "name": "MSJ reporte",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        3808
      ],
      "webhookId": "b68db8b1-75fb-46b7-bf2a-f9dc4b978b8a",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 613493080,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=613493080"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "pantalla": "REPORTES",
            "opcion": "={{ $('Formateo de campos').first().json.mensaje }}",
            "resultado": "Reporte generado."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3b54a627-b847-4728-a863-90e58bb67487",
      "name": "Log reportes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        960,
        3808
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "=⚙️ *Panel de Configuración*\n\n1\\. 📲 Registrar\\/actualizar teléfono\n2\\. 👤 Ver mis datos\n9\\. 🏠 Volver al menú principal",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b0fe8d2a-5b30-4077-8f46-af72685ad088",
      "name": "MSJ configuracion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        4208
      ],
      "webhookId": "83a49631-aca7-41d4-8113-ace6a6ef2a27",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8da28a82-7e92-5e46-8f1f-0e0f45fc3c23",
                    "leftValue": "={{ $('Formateo de campos').first().json.mensaje }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "95e1fd9f-6263-569f-895f-da5e390ce936",
                    "leftValue": "={{ $('Formateo de campos').first().json.mensaje }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "be8bd211-6b63-5ed6-a9de-c50c0f96c83d",
                    "leftValue": "={{ $('Formateo de campos').first().json.mensaje }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "d44321e2-ab69-408d-a079-71622b7e7006",
      "name": "Switch configuracion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        240,
        4208
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Formateo de campos').first().json.telegram_user }}",
            "sesion": "ESPERANDO_TELEFONO",
            "sesion_data": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "01ed843d-9d00-43bd-bd71-b0470656177e",
      "name": "Guardar sesión TEL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        480,
        4000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "📲 Escribe tu número de teléfono:\n\n_Ejemplo: \\+57 300 123 4567_\n\n⚠️ Tus datos están protegidos\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "d501ddd2-5f40-4d9e-97d7-539c5eafcc6d",
      "name": "MSJ pedir telefono",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        4000
      ],
      "webhookId": "e3722d68-27f2-4bfc-8654-80ea3960a878",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 613493080,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=613493080"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "pantalla": "CONFIGURACION",
            "opcion": "={{ $('Formateo de campos').first().json.mensaje }}",
            "resultado": "Configuración abierta."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "224b29f2-7056-4c67-b7d7-173cd6df58b3",
      "name": "Log configuracion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        960,
        4208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telegram_user",
              "lookupValue": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:Z5000"
            }
          }
        }
      },
      "id": "a545a1b1-a288-4894-b215-39646853b1be",
      "name": "Datos de usuario",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        480,
        4400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "=👤 *Tus datos registrados:*\n\n👤 Nombre: *{{ $('Datos de usuario').first().json.nombre }}*\n🆔 ID Telegram: `{{ $('Datos de usuario').first().json.telegram_user }}`\n📞 Teléfono: *{{ $('Datos de usuario').first().json.telefono || 'No registrado' }}*\n🎭 Rol: {{ $('Datos de usuario').first().json.rol }}\n\nEscribe *0* para volver al menú principal\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "87a9f119-6001-427e-92e6-6dd0955827b0",
      "name": "MSJ ver datos usuario",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        4400
      ],
      "webhookId": "6950d845-9e33-4efd-9b61-c1c459edb70f",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "telefono": "={{ $('Formateo de campos').first().json.mensaje }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c3679eee-c60b-46de-bb45-a0dd5da0dd39",
      "name": "Guardar telefono",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        0,
        4608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion_data": "{}",
            "sesion": "MENU_PRINCIPAL"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7a69f5dd-763b-48c9-aa96-b0ff6fadb860",
      "name": "Limpiar sesión post-tel",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        240,
        4608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "✅ *¡Teléfono guardado exitosamente\\!*\n\nTu número ha sido registrado\\.\n\nEscribe *0* para volver al menú principal\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "0155c344-1455-4eba-9f17-ddbb758ea3d2",
      "name": "MSJ telefono guardado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        4608
      ],
      "webhookId": "76eb7b29-e729-4406-ba25-f22e07744676",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
        "text": "🤔 *No entendí tu mensaje*\n\nEscribe *0* para ir al menú principal\\.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "755b0f2c-2729-49de-a67a-a1f3480d5454",
      "name": "MSJ no entendido",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        5008
      ],
      "webhookId": "3838003f-1974-452d-896e-d7c6f8685730",
      "credentials": {
        "telegramApi": {
          "id": "9zvcB4Qz8DGXLDcL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 594301606,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrtwDQwIAVlemDrCG9CtP5LAmzg2VuUGt2lrl3H6sgs/edit#gid=594301606"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('HelpDeskBot Trigger').first().json.message.chat.id }}",
            "sesion": "CONFIGURACION",
            "sesion_data": "{}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sesion",
              "displayName": "sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sesion_data",
              "displayName": "sesion_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "aa11613f-1c40-4af6-9e41-f32d6c01fac5",
      "name": "Guardar sesión CONF",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        -1200,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yJCKMpMkeLMXoedG",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HelpDeskBot Trigger": {
      "main": [
        [
          {
            "node": "Formateo de campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo de campos": {
      "main": [
        [
          {
            "node": "Buscar usuario en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar usuario en DB": {
      "main": [
        [
          {
            "node": "¿Usuario existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Usuario existe?": {
      "main": [
        [
          {
            "node": "¿Usuario activo?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar usuario nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar usuario nuevo": {
      "main": [
        [
          {
            "node": "MSJ bienvenida nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Usuario activo?": {
      "main": [
        [
          {
            "node": "Gestor de sesión",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ usuario bloqueado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestor de sesión": {
      "main": [
        [
          {
            "node": "Router principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router principal": {
      "main": [
        [
          {
            "node": "Switch pantalla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch pantalla": {
      "main": [
        [
          {
            "node": "Guardar sesión MENU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar sesión AYUDA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar sesión TIPO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar sesión ESTADO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar sesión MIS_SOLICS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar sesión REPORTES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar sesión CONF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar telefono",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Procesar tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar descripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar confirmacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ no entendido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión MENU": {
      "main": [
        [
          {
            "node": "MSJ menú principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ menú principal": {
      "main": [
        [
          {
            "node": "Log menú principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión AYUDA": {
      "main": [
        [
          {
            "node": "MSJ ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ ayuda": {
      "main": [
        [
          {
            "node": "Log ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión TIPO": {
      "main": [
        [
          {
            "node": "MSJ pedir tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ pedir tipo": {
      "main": [
        [
          {
            "node": "Log crear solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar tipo": {
      "main": [
        [
          {
            "node": "Switch tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch tipo": {
      "main": [
        [
          {
            "node": "Guardar sesión PRIORIDAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ tipo inválido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ cancelado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión PRIORIDAD": {
      "main": [
        [
          {
            "node": "MSJ pedir prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar prioridad": {
      "main": [
        [
          {
            "node": "Switch prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch prioridad": {
      "main": [
        [
          {
            "node": "Guardar sesión DESCRIPCION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ prioridad inválida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ cancelado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión DESCRIPCION": {
      "main": [
        [
          {
            "node": "MSJ pedir descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar descripcion": {
      "main": [
        [
          {
            "node": "Switch descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch descripcion": {
      "main": [
        [
          {
            "node": "Guardar sesión CONFIRMACION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ descripcion corta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ cancelado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión CONFIRMACION": {
      "main": [
        [
          {
            "node": "MSJ pedir confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar confirmacion": {
      "main": [
        [
          {
            "node": "Switch confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch confirmacion": {
      "main": [
        [
          {
            "node": "Guardar ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ cancelado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar ticket": {
      "main": [
        [
          {
            "node": "Limpiar sesión post-ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar sesión post-ticket": {
      "main": [
        [
          {
            "node": "Log ticket creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log ticket creado": {
      "main": [
        [
          {
            "node": "MSJ ticket creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión ESTADO": {
      "main": [
        [
          {
            "node": "Solicitudes por usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solicitudes por usuario": {
      "main": [
        [
          {
            "node": "Procesar estado solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar estado solicitudes": {
      "main": [
        [
          {
            "node": "MSJ estado solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ estado solicitudes": {
      "main": [
        [
          {
            "node": "Log estado solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión MIS_SOLICS": {
      "main": [
        [
          {
            "node": "Mis tickets DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mis tickets DB": {
      "main": [
        [
          {
            "node": "Procesar mis solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar mis solicitudes": {
      "main": [
        [
          {
            "node": "MSJ mis solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ mis solicitudes": {
      "main": [
        [
          {
            "node": "Log mis solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mis tickets para detalle": {
      "main": [
        [
          {
            "node": "Procesar detalle ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar detalle ticket": {
      "main": [
        [
          {
            "node": "MSJ detalle ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión REPORTES": {
      "main": [
        [
          {
            "node": "Todos mis tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todos mis tickets": {
      "main": [
        [
          {
            "node": "Calcular reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular reporte": {
      "main": [
        [
          {
            "node": "MSJ reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ reporte": {
      "main": [
        [
          {
            "node": "Log reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch configuracion": {
      "main": [
        [
          {
            "node": "Guardar sesión TEL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datos de usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar sesión MENU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSJ no entendido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión TEL": {
      "main": [
        [
          {
            "node": "MSJ pedir telefono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ pedir telefono": {
      "main": [
        [
          {
            "node": "Log configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos de usuario": {
      "main": [
        [
          {
            "node": "MSJ ver datos usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar telefono": {
      "main": [
        [
          {
            "node": "Limpiar sesión post-tel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar sesión post-tel": {
      "main": [
        [
          {
            "node": "MSJ telefono guardado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ cancelado": {
      "main": [
        [
          {
            "node": "Guardar sesión MENU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ tipo inválido": {
      "main": [
        [
          {
            "node": "MSJ pedir tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ prioridad inválida": {
      "main": [
        [
          {
            "node": "MSJ pedir prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ descripcion corta": {
      "main": [
        [
          {
            "node": "MSJ pedir descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ no entendido": {
      "main": [
        [
          {
            "node": "Guardar sesión MENU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ telefono guardado": {
      "main": [
        [
          {
            "node": "Guardar sesión MENU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSJ ver datos usuario": {
      "main": [
        [
          {
            "node": "Guardar sesión MENU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar sesión CONF": {
      "main": [
        [
          {
            "node": "MSJ configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "13b0a8c0-815e-4a54-9101-6ebc53c65832",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bcbdf40d4833d22c6fed32febd62c190f5eaac2b31fefdd1e4aae44cbc7698b"
  },
  "id": "Kyw78PsoIpy5459H",
  "tags": [
    {
      "updatedAt": "2026-03-12T01:46:45.884Z",
      "createdAt": "2026-03-12T01:46:45.884Z",
      "id": "BUmkQATKkeQC8OXk",
      "name": "v3"
    },
    {
      "updatedAt": "2026-03-11T22:38:07.893Z",
      "createdAt": "2026-03-11T22:38:07.893Z",
      "id": "Uigfeow0ajR9W56q",
      "name": "HelpDeskBot"
    },
    {
      "updatedAt": "2026-03-12T15:06:14.030Z",
      "createdAt": "2026-03-12T15:06:14.030Z",
      "id": "j5yXGNyXxSyO8CXq",
      "name": "produccion"
    }
  ]
}